:root {
    --color-primary-light: #a5b4fc;
    --color-primary: #6366f1;
    --color-primary-dark: #3730a3;
    --color-white: #ffffff;
    --color-gray: #f5f5f5;
    --color-dark-gray: #333333;
    --font-family: 'Arial', sans-serif;
  }
  